<!-- SG Responsive 1.1, in mobile device data will be constructed vertically.  Displaying (image) over txt-->
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Urban360</title>
	<style type="text/css">
		.ReadMsgBody {width: 100%; background-color: #ffffff;}
		.ExternalClass {width: 100%; background-color: #ffffff;}
		body {width: 100%; background-color: #000000; margin:0; padding:0; -webkit-font-smoothing: antialiased;   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}
	table {border-collapse: collapse;}

	@media only screen and (max-width: 640px)  {
		body .deviceWidth {width:440px!important; padding:0;}
		body .center {text-align: center!important;}
		.share-button img{width: 45px;}
	}

	@media only screen and (max-width: 480px) {
		body .deviceWidth {width:280px!important; padding:0;}
		body .center {text-align: center!important;}
	}
	<!-- Expect minor rendering issues still with Android outlook, it is recommended that you test and manipulate this content with something like litmus.com before sending this-->
</style>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" yahoo="fix" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif">
	<!-- Change Background colors, and text colors as needed-->
	<!-- Wrapper -->
	<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td width="100%" valign="top" bgcolor="#000000" style="padding-top:20px">
				<table width="575" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" >
					<tr>
						<td class="center" style="padding:10px 0 0 5px">
							<table width="49%" border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
								<tr>
									<td align="center">
										<p style="mso-table-lspace:0;mso-table-rspace:0; margin:0"><a href="#">
											<img width="180" height="30" src="http://images.urban360.com.mx/wp-content/uploads/2016/04/smart-alerts-logo.png" alt="" border="0" style="border-radius: 10px; width: 180px !important;" class="deviceWidth" /></a></p>
										</td>
									</tr>
									<tr>
										<td style="font-size: 12px; color: #000000; font-weight: normal; text-align: left; font-family: Georgia, Times, serif; line-height: 20px; vertical-align: top; padding: 0px 8px 10px 8px">
											<table>
												<tr>
													<td valign="middle" style="padding:0 10px 10px 0"><a href="#" style="text-decoration: none; text-align:center; font-size: 16px; color: #363636; font-weight: bold; font-family:Arial, sans-serif"></a>
													</tr>
												</table>
											</td>
										</tr>
									</table>
									<table width="49%" border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
										<tr>
											<td align="center">
												<p style="mso-table-lspace:0;mso-table-rspace:0; margin:0"><a href="#">
													<img width="130" height="30" src="http://images.urban360.com.mx/wp-content/uploads/2016/04/urban360-logo.png" alt="" border="0" style="border-radius: 10px; width: 130px !important;" class="deviceWidth" /></a></p>
												</td>
											</tr>
											<tr>
												<td style="font-size: 12px; color: #000000; font-weight: normal; text-align: left; font-family: Georgia, Times, serif; line-height: 20px; vertical-align: top; padding: 0px 8px 0px 8px">
													<table>
														<tr>
															<td valign="middle" style="padding:0 10px 10px 0"><a href="#" style="text-decoration: none; font-size: 16px; color: #363636; font-weight: bold; font-family:Arial, sans-serif "></a>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table><!-- End Two Column-->
							<!-- One Column -->
							<table width="570"  class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" >
								<tr>
									<td style=" border-radius: 10px 10px 0 0; font-weight: normal; text-align: center; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 24px; vertical-align: top; padding: 10px 30px" bgcolor="#ffffff">
										<h2 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size: 24px;text-align: left;">Hola</h2>
									</td>
								</tr>
								<tr>
									<td style="font-size: 16px; border-radius:0; font-weight: normal; text-align: left; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 24px; vertical-align: top; padding: 10px 30px" bgcolor="#ffffff">
										<p style="margin: 0; font-size: 16px;">{{{content}}}</p>

									</td>
								</tr>
								<tr>
									<td style="font-size: 13px; border-radius: 0 0 10px 10px; font-weight: normal; text-align: left; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 24px; vertical-align: top; padding:30px" bgcolor="#ffffff">
									</td>
								</tr>
							</table><!-- End One Column -->

							<div style="height:15px">&nbsp;</div>
							<!-- two column - Images over txt-->

							<!-- two column - Images over txt-->

							<div style="height:25px">&nbsp;</div><!-- spacer -->

							<div style="height:25px">&nbsp;</div><!-- spacer -->

						</td>
					</tr>
				</table> <!-- End Wrapper -->
	</body>
</html>
